<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.attachment.mapper.LinesMapper">
    <resultMap id="BaseOrderLineMap" type="com.hand.hap.attachment.dto.Lines" extends="com.hand.hap.mapper.StdMapper.STD">
    	<result column="HEADER_ID" property="headerId" jdbcType="DECIMAL"/>
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR"/>
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL"/>
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL"/>
        <result column="ORDER_SUMMARY" property="orderSummary" jdbcType="DECIMAL"/>
        <result column="ADDITION1" property="addtion1" jdbcType="VARCHAR"/>
        <result column="ADDITION2" property="addtion2" jdbcType="VARCHAR"/>
        <result column="ADDITION3" property="addtion3" jdbcType="VARCHAR"/>
        <result column="ADDITION4" property="addtion4" jdbcType="VARCHAR"/>
        <result column="ADDITION5" property="addtion5" jdbcType="VARCHAR"/>
    </resultMap>
	
	<select id="selectOrderLine" parameterType="com.hand.hap.attachment.dto.Headers"  resultMap="BaseOrderLineMap">
		SELECT 	DISTINCT
				oh.HEADER_ID,
		        inv.ITEM_CODE,
		        inv.ITEM_DESCRIPTION,
		        ol.ORDER_QUANTITY_UOM,
		        ol.ORDERD_QUANTITY,
		        ol.UNIT_SELLING_PRICE,
		       (ol.UNIT_SELLING_PRICE*ol.ORDERD_QUANTITY)AS ORDER_SUMMARY,
		        ol.ADDITION1,
		        ol.ADDITION2,
		        ol.ADDITION3,
		        ol.ADDITION4,
		        ol.ADDITION5
   
		  FROM 
                 hap_om_order_lines ol,
                 hap_inv_inventory_items inv,
                 hap_om_order_headers oh
		<where>
               and  ol.INVENTORY_ITEM_ID=inv.INVENTORY_ITEM_ID
               and  ol.HEADER_ID=oh.HEADER_ID
         	<if test="headerId != null">
               and oh.HEADER_ID = #{headerId,jdbcType=VARCHAR}
            </if>
 
    
        </where>
    </select>
    

</mapper>